
@import url(https://fonts.bunny.net/css?family=epilogue:400,800);


*{
    margin: 6px;
    padding: 0;
}

body{
    background:url(https://assets.codepen.io/518746/Colored+Patterns.svg);

  

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width:80%;
    height: 900px;
    margin: 0 auto;
}  

h1{
    color: white;
    font-family: "epilogue";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
}
p{
    font-family: "epilogue";
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5rem;
}
hr{
    height: 2px;
    width: 50px;
    background-color: darkviolet ;
    border: 3px solid darkviolet;
    margin: 10px 0 50px 0;
}
button{
    text-transform: uppercase;
    background-color: hotpink;
    border-color: hotpink;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-weight: 800;
    font-size: 1.3rem;
}
.btn-primary{

}



/*unidades de medidas en css
p, h1, h2, h3, a => texto, NO SE USAN PX 
se usa la unidad de medida em, rem
1 em== 16px
2em==32px
1.5em==24px*/